<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Routing">
            <directory suffix="RoutingTest.php">./tests</directory>
        </testsuite>
        <testsuite name="Views">
            <directory suffix="ViewsTest.php">./tests</directory>
        </testsuite>
        <testsuite name="Rest">
            <directory suffix="RestTest.php">./tests</directory>
        </testsuite>
        <testsuite name="Render">
            <directory suffix="RenderTest.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>