html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 60px;
    padding-top: 20px;
}
#header{
    margin-bottom: 30px;
    border-bottom: #eee 1px solid;
}

.header h3{
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
}

.feature-v1 .thumbnail {
    min-height: 225px;
}

.feature-v2 .thumbnail{
    min-height: 250px;
}

.font-image{
    font-size: 5em;
    display: block;
    text-align: center;
}

.generated-code code{
    background: none;
}

#footer{
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
